<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/app.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-widgets.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-tables.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Thank you for your submission.</h1>
      {{ div|safe }} {{ script|safe }}
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-widgets.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.4.2/bokeh-tables.js"></script>
</html>
