<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/app.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Thank you for your submission.</h1>
      <h3>Look at some of your mood stats</h3>
      <a href="pie">Click here to look at a pie chart</a>
      <br />
      <a href="line"
        >Click here to analyse your daily moods with a line chart</a
      >
    </div>
  </body>
  <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});
  </script> -->
</html>
